#logo {
    height: 150x;
    width: 450px;
}

#top-page {
    background-color: pink;
}

#register-container {
    border: 2px solid black;
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    background-color: white;
}

#rangee-1-register {
    padding: 25px;
    background-color: pink;
}

#submit-button {
    padding: 10px;
    
}

#error-message-username {
    font-size: small;
    color: palevioletred;
}

.total-page-container {
    text-align: center;
    padding: 1px;
}


.element-page {
    text-align: left;
    font-size: 25px;
    color: #d87093;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px 15px;
    background-color: white;
}

.total-page-background {
    background-color: pink;
}

.montant {
    text-align: right;
    padding: 0;
    margin: 0;
}

.descripteur-page {
    padding: 0;
    margin: 0;
}

.mois-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px;
}

.mois {
    padding-top: 9px;
    padding-left: 9px;
    font-weight: bold;
}

.mois-montant {
    padding: 50px 9px 9px;
    text-align: right;
}

#bouton-nouveau {
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px 85px;
    background-color: #d87093;
    padding: 5px;
}