#logo {
    height: 150x;
    width: 450px;
}

#top-page {
    background-color: pink;
}

#register-container {
    border: 2px solid black;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}

#rangee-1-register {
    padding: 25px;
    background-color: pink;
}

#submit-button {
    padding: 10px;
}

#submit-button-autre {
    padding: 10px;
}

#submit-button-enregistrer {
    padding: 10px;
}

#error-message-username {
    font-size: small;
    color: palevioletred;
}

.total-page-container {
    text-align: center;
    padding: 1px;
}


.element-page {
    text-align: left;
    font-size: 25px;
    color: #d87093;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px 15px;
    background-color: white;
}

.total-page-background {
    background-color: pink;
}

.montant {
    text-align: right;
    padding: 0;
    margin: 0;
}

.descripteur-page {
    padding: 0;
    margin: 0;
}

.mois-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px;
}

.mois {
    padding-top: 9px;
    padding-left: 9px;
    font-weight: bold;
}

.mois-montant {
    padding: 50px 9px 9px;
    text-align: right;
}

#bouton-nouveau {
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px 85px;
    background-color: #d87093;
    padding: 5px;
}

.background-mois {
    background-color: pink;
}

.nouveau {
    margin: 40px 20px 20px 10px;
}

.field-text-nouveau {
    margin-bottom: 10px;
}

.bouton-nouveau {
    margin-bottom: 10px;
}

#cash {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
}

.type-paiement {
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0;
}


#interac p {
    margin-bottom: 10px;
}

#checkbox {
    display: none;
}

#submit-button-autre{
    background-color: rgba(211, 211, 211, 0.4);
}

#submit-button-enregistrer {
    background-color: rgba(211, 211, 211, 0.4);
}

#paiement-choisi {
    display: none;
}