{% extends 'menu.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="row total-page-container">
                <div class="col element-page">
                    <p><u>Total : </u></p>
                </div>
                <div class="col montant-page">
                    <p>${{prix_total}}</p>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="row total-page-container">
                <div class="col element-page">
                    <p><u>Tip : </u></p>
                </div>
                <div class="col montant-page">
                    <p>${{tip}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            {{taxes}}
        </div>
    </div>
</div>
{% endblock %}