{% extends 'menu.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>hello</p>
        </div>
        <div class="col">
            <p>world</p>
        </div>
        <div class="col">
            <p>paki</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="row">
                <div class="col total-page">
                    <p>tip</p>
                </div>
                <div class="col total-page">
                    <p>total</p>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="row">
                <div class="col total-page">
                    <p>taxe</p>
                </div>
                <div class="col total-page">
                    <p>tipi</p>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}